.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: var(--sp-126);
    padding-bottom: var(--sp-60);
}

.pageInner {
    width: 77.08vw;
    height: 52.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sp-87);
}

.contentTop {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentImage {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.planetImage {
    max-width: 40.4vw;
    max-height: 40.4vw;
    width: auto;
    height: auto;
    object-fit: contain;

}

.geologyImage {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-209px);
    width: 163px;
    height: auto;
}

.contentInfo {
    width: 24.3vw;
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--sp-22)
}

.contentText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--sp-22)
}

.contentInfo h1,
.contentInfo p {
    color: var(--white);
}

.contentLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--sp-7);
}

.contentLink p {
    opacity: 50%;
}

.contentLink a {
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
}

.contentLink img {
    width: 12px;
    height: 12px;
}

.contentButtons {
    padding-top: 7px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--sp-16);
}

.contentBottom {
    min-height: 128px;
    height: 8.88vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--sp-28);
}

.contentItem {
    height: 100%;
    width: 100%;
    padding-top: 1.4vw;
    padding-left: 1.16vw;
    gap: var(--sp-7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid var(--white-border);
}

.contentItem h4 {
    color: var(--white);
    opacity: 50%;
    text-transform: uppercase;
}

.contentItem h2 {
    color: var(--white);
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {

    .main {
        height: auto;
    }

    .pageInner {
        width: 89.7vw;
        height: 100%;
    }

    .content {
        height: auto;
        gap: var(--sp-38);
    }

    .contentText {
        gap: var(--sp-24);
        width: 44.1vw;
    }

    .contentTop {
        flex-direction: column;
        justify-content: center;
        gap: var(--sp-93);
    }

    .contentImage {
        margin-right: 0px;
    }

    .geologyImage {
        transform: translateX(-50%) translateY(-100px);
        width: 120px;
    }

    .contentInfo {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .contentInfo h1 {
        font-size: 4.8rem;
        line-height: normal;
    }

    .contentExpl {
        line-height: 2.2rem;
        letter-spacing: 0px;
    }

    .contentLink {
        margin-top: 18px;
    }

    .contentLink p {
        font-size: 1.2rem;
    }

    .contentButtons {
        width: 36.6vw;
    }

    .contentBottom {
        gap: var(--sp-11);
    }

    .contentItem {
        gap: var(--sp-7);
        padding-top: 1.6vw;
        padding-left: 1.4vw;
    }

    .contentItem h4 {
        font-size: 0.8rem;
        line-height: 1.6rem;
        letter-spacing: 0.73px;
    }

    .contentItem h2 {
        font-size: 2.4rem;
        line-height: normal;
        letter-spacing: -0.9px;
    }

    .contentBottom {
        min-height: 88px;
        height: 1.46vw;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .pageInner {
        height: auto;
        width: 87.2vw;
    }

    .content {
        gap: var(--sp-41);
    }

    .contentButtons {
        display: none;
    }

    .planetImage {
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
    }

    .geologyImage {
        transform: translateX(-50%) translateY(-70px);
        width: 100px;
    }

    .contentText {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .contentLink {
        justify-content: center;
    }

    .contentInfo {
        min-width: auto;
    }

    .contentInfo h1 {
        font-size: 4rem;
    }

    .contentExpl {
        font-size: 1.1rem;
    }

    .contentLink {
        margin-top: 8px;
    }

    .contentLink p {
        font-size: 1.2rem;
    }

    .contentBottom {
        flex-direction: column;
        gap: var(--sp-8);
        height: auto;
    }

    .contentItem {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 48px;
        height: 1.28vw;
        padding: 0px var(--sp-24);

    }

    .contentItem h2 {
        font-size: 2rem;
        line-height: normal;
        letter-spacing: -0.75px;
    }
}